<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/dltktest.ecore"
            class="org.eclipse.dltk.tcl.ui.tests.ecl.dltktest.DLTKTestPackage"
            genModel="model/dltktest.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.AssertPerspectiveService"
            name="AssertPerspective"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.DeleteProjectService"
            name="DeleteProject"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.OpenPerspectiveService"
            name="OpenPerspective"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.AddInterpreterService"
            name="AddInterpreter"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.RemoveAllInterpretersService"
            name="RemoveAllInterpreters"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.AssertInterpreterService"
            name="AssertInterpreter"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.AssertNoInterpretersService"
            name="AssertNoInterpreters"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.IsProjectExistService"
            name="IsProjectExist"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.IsProjectOpenService"
            name="IsProjectOpen"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.CreateProjectService"
            name="CreateProject"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.CloseProjectService"
            name="CloseProject"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.GetPluginPathService"
            name="GetPluginPath"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.dltk.tcl.ui.tests.ecl.internal.dltktest.WaitForJobService"
            name="WaitForJob"
            namespace="http://www.eclipse.org/ecl/dltktest.ecore">
      </scriptlet>
   </extension>

</plugin>
