<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/debug/commands.ecore"
            class="org.eclipse.ecl.debug.commands.CommandsPackage"
            genModel="model/commands.genmodel"/>
   </extension>

   <extension point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
         class="org.eclipse.ecl.internal.debug.commands.StartServerService"
         name="StartServer"
         namespace="http://www.eclipse.org/debug/commands.ecore"/>
   </extension>

   <extension point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
         class="org.eclipse.ecl.internal.debug.commands.StopServerService"
         name="StopServer"
         namespace="http://www.eclipse.org/debug/commands.ecore"/>
   </extension>

   <extension point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
         class="org.eclipse.ecl.internal.debug.commands.DebugScriptService"
         name="DebugScript"
         namespace="http://www.eclipse.org/debug/commands.ecore"/>
   </extension>

   <extension point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
         class="org.eclipse.ecl.internal.debug.commands.DebugCommandService"
         name="DebugCommand"
         namespace="http://www.eclipse.org/debug/commands.ecore"/>
   </extension>
   <extension
         id="breakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.ecl.debug.breakpoints.EclBreakpoint"
            id="org.eclipse.ecl.debug.breakpoint"
            markerType="org.eclipse.ecl.debug.breakpoint.marker"
            name="ECL Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.ecl.debug.model.EclSourceLookupDirector"
            id="org.eclipse.ecl.debug.sourceLocator"
            name="ECL Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.ecl.debug.model.EclSourcePathComputerDelegate"
            id="org.eclipse.ecl.debug.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="org.eclipse.ecl.debug.model.EclSourceContainerType"
            description="ECL Sources"
            id="org.eclipse.ecl.debug.containerType.workspace"
            name="ECL">
      </sourceContainerType>
   </extension>

</plugin>
