<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/operations.ecore"
            class="org.eclipse.ecl.operations.OperationsPackage"
            genModel="model/operations.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.EqService"
            name="Eq"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.IntService"
            name="Int"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.BoolService"
            name="Bool"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.StrService"
            name="Str"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.AssertTrueService"
            name="AssertTrue"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.LengthService"
            name="Length"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.NotEqService"
            name="NotEq"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.GtService"
            name="Gt"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.LtService"
            name="Lt"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.NotService"
            name="Not"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.TryService"
            name="Try"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.FormatService"
            name="Format"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.EmitService"
            name="Emit"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.RepeatWithService"
            name="RepeatWith"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.RepeatService"
            name="Repeat"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.AssertEmptyService"
            name="AssertEmpty"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.AssertNonEmptyService"
            name="AssertNonEmpty"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.ConcatService"
            name="Concat"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.OrService"
            name="Or"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.operations.internal.commands.AndService"
            name="And"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
   </extension>
</plugin>
