<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/stdlib.ecore"
            class="org.eclipse.ecl.stdlib.StdlibPackage"
            genModel="model/stdlib.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.ecl.internal.stdlib.LengthService"
            name="Length"
            namespace="http://www.eclipse.org/ecl/stdlib.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.internal.stdlib.AssertEqualsService"
            name="AssertEquals"
            namespace="http://www.eclipse.org/ecl/stdlib.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.internal.stdlib.AssertTrueService"
            name="AssertTrue"
            namespace="http://www.eclipse.org/ecl/stdlib.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.internal.stdlib.AssertFalseService"
            name="AssertFalse"
            namespace="http://www.eclipse.org/ecl/stdlib.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.internal.stdlib.ConcatService"
            name="Concat"
            namespace="http://www.eclipse.org/ecl/stdlib.ecore">
      </scriptlet>
   </extension>

</plugin>
