<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/08/02 09:24:06 andrey Exp $
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/parser/tests/model.ecore"
            class="org.eclipse.ecl.parser.test.model.ParserTestModelPackage"
            genModel="model/model.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestEmpty"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestCommandParam"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestUnknownParam"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestIntParam"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestBoolParam"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestParamCollision"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.ecl.parser.test.TestService"
            name="TestOptionalParams"
            namespace="http://www.eclipse.org/ecl/parser/tests/model.ecore">
      </scriptlet>
   </extension>
</plugin>
