<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2010/10/14 07:07:17 alena Exp $
-->

<plugin>
   <extension
         point="org.eclipse.ecl.core.param_converter">
      <converter
            class="org.eclipse.ecl.internal.parser.CommandParamConverter">
      </converter>
   </extension>
</plugin>
