<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.console.scriptInterpreter">
      <scriptInterpreter
            class="org.eclipse.ecl.internal.console.EclInterpreter"
            natureID="org.eclipse.ecl.console.interpreter">
      </scriptInterpreter>
   </extension>

</plugin>
